doctype html
html
	head
		title lIlIlIIlllIllIIl
		link(rel='stylesheet', href='/css/index.css')
		link(rel='stylesheet', href='/css/jssora.css')
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript' src='/js/jssor.js')
		script(type='text/javascript', src='/js/jssor.slider-21.1.6.mini.js')
	body
		nav
			div(id='headerBar')
				span 오빠 컴퓨터 맞춰줘!
			div(class='introText')
				p 최고의 컴퓨터 사양으로 여러분을 모십니다!
				//div(class='reverse')
					span
						a(href='#') KR
					span 
						a(href='#') EN
block content